<div class="container">
  <h1>자막 번역을 위한 사이트</h1>
  <h2>사용법</h2>
  <mat-list role="list">
    <mat-list-item>1. 이 사이트를 번역한
      &nbsp;
      <a [attr.href]="papagoLink">파파고 번역 사이트</a>
      를 들어간다.</mat-list-item>
    <mat-list-item>2. 자막 원본을 복사하여 textarea에 붙여넣기 한다.</mat-list-item>
    <mat-list-item>3. 저장을 누른다.</mat-list-item>
    <mat-list-item>4. 새로고침 되면 번역된 자막을 복사하여 새로운 파일에 저장한다.</mat-list-item>
  </mat-list>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>자막 원본</mat-label>
    <textarea matInput rows="15" [(ngModel)]="original" placeholder="자막의 일부분 혹은 전체를 붙여넣기 하세요"></textarea>
  </mat-form-field>
  <section>
    <button mat-raised-button (click)="onClick()">저장</button>
  </section>
  <section class="result">
    <div *ngFor="let items of result">
      <div *ngFor="let item of items">{{ item }}</div>
      <br>
    </div>
  </section>
</div>
